@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');
body{
font-family: 'Nunito Sans', sans-serif;
}
main{
margin: 10px 200px;
}
.right{
    margin-left: 50px;
}
.button{
    margin-top:115px 
}
.fb{
    position: absolute;
    left: 22px;
    top:22px;
}
.side{
    display: flex;
    flex-direction: row;
}
.svg1{
    margin-top:50px
}
.svg2{
    margin-top: 20px ;
}
.svg1, .svg2, .expert , .button{
    display: flex;
    flex-direction: row;
}
.but1{
padding: 15px 10px 10px 25px;
border-radius: 45px;
border: 1.5px solid var(--accent, #00ADBB);
background: #FFF;
width: 327px;
}
.but2{
    margin-left: -120px;
    padding: 17px 20px;
    width: 250px;
    border-radius: 45px;
background: var(--pink, #EE4A80);
box-shadow: 0px 6px 20px 0px rgba(5, 63, 69, 0.20);
}
.alt{
position:absolute; top:495px;
border-radius: 0px 0px 45px 0px;
opacity: 0.8;
width: 510px;
height: 90.017px;
color: #FFF;
text-align: center;
font-family: Nunito Sans;
font-size: 24px;
font-weight: 800;
padding: 25px 30px 5px 30px;
text-transform: uppercase;
text-align: center;
background: var(--accent, #00ADBB);
}
.button{
    width: 470px;
}
.bas{
color: var(--dark-gray, #231F20);
font-family: Nunito Sans;
font-size: 30px;
font-style: normal;
font-weight: 800;
line-height: normal;
letter-spacing: 0.9px;
text-transform: uppercase;
}
#firstt, #secondd{
    margin-left: -10px;
}
.grid-container {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    padding: 10px;
    gap:20px;
  }
.but1{
    font-size: 21px;
}
.but2{
    font-size: 17px;
}
  .grid-item {
    height: 40px;
    background: var(--light-grey, #EBEBEB);
    padding: 20px 30px;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
  }
li{
    margin-top: 20px;
    display: flex;
    flex-direction:row;
}
@media screen and ( max-width: 1515px){
    .side{
        display: flex;
        flex-direction: column;
    }
    .hh, .bas, .ma, .expertt, .bt{
        display: flex;
        justify-content: center;
    }
    .image{
        margin: 0 auto;
    }
    .right{
        margin-top: 20px;
        margin-left: -5px;
    }
}
@media screen and (max-width:1100px){
    .grid-container {
        grid-template-columns:1fr 1fr;
      } 
      main{
        margin: 10px 150px;
        }
    #firstt, #secondd{
    margin-left: 1px;
    }  
}
@media screen and (max-width: 900px){
    .grid-container {
        grid-template-columns:1fr;
      } 
      main{
        margin: 10px 50px;
        }
    .img{
        width:351px
    }
    .alt{
        border-radius: 0px 0px 34px 0px;
        width: 303px;
        top:275px;
        font-size: 18px;
font-weight: 800;
padding: 15px 24px 0px 25px;
    }
}
@media screen and (max-width: 500px){
  .button{
    width: 300px;
  }  
  main{
    margin: 10px 1px;
    }
  .but1{
    font-size: 15px;
  }
  .but2{
    font-size: 12px;
}
}